* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  background-color: brown;
  height: 100%;
}

h2 {
  font-size: 10vh;
}

p {
  font-size: 7vh;
}

#container-all {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: chocolate;
  width: 100%;
  padding: 10px;
}

#container-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
