* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  /* background-color: rgb(12, 11, 11); */
  height: 100%;
}

body {
  background: url("../assets/imgs/main.jpg");
  background-size: cover;
}

html {
  background-color: black;
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 4vw;
}

p {
  font-size: 1vw;
}

h1 {
  font-size: 3vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: beige;
}

h2,
h3,
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: beige;
}

.material-icons {
  font-size: 3vw;
  color: white;
  margin-left: 1vh;
}

#container-all {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 255, 0);
  width: 100%;
  padding: 10px;
}

#container-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /* background-image: url("../src/assets/imgs/sunny.jpg"); */
}

#weather-info {
  display: none;
  opacity: 0;
  padding: 50px;
  background-color: rgba(33, 39, 36, 0.8);
  border-radius: 20px;
  transition: opacity 2s ease-out;
}

#details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
