* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  /* background-color: rgb(12, 11, 11); */
  height: 100%;
}

body {
  /* background: url("/src/assets/imgs/main.jpg"); */
  background-size: cover;
  transition: opacity 2s ease-in;
  height: 100%;
}

html {
  background-color: rgb(0, 0, 0);
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 4vw;
}

p {
  font-size: 1vw;
}

h1 {
  font-size: 3vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: beige;
}

h2,
h3,
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: beige;
}

.material-icons {
  font-size: 3vw;
  color: white;
  margin-left: 1vh;
}

#container-all {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 255, 0);
  width: 100%;
  padding: 10px;
}

#container-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#weather-info {
  display: block;
  opacity: 1;
  padding: 50px;
  background-color: rgba(33, 39, 36, 0.8);
  border-radius: 20px;
  transition: opacity 2s ease-out;
}

#details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-button {
  top: 27%;
  left: 6%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(209, 186, 186);
}

input[type="text"] {
  width: 24rem;
  /* height: 100%; */
  border: rgb(219, 195, 195);
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0 0.3rem 4.5rem;

  color: #e7d6d6;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
